@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

:root {
  --border-color: #e3e5e4;
  --background-color: #c3c7ca;
  --text-color: #34444f;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Figtree', sans-serif;
}

h1 {
  margin: 0;
}

.container {
  padding: 2rem 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.draggable-list {
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0;
  list-style-type: none;
}

.draggable-list li {
  background-color: white;
  display: flex;
  flex: 1;
}

.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.draggable-list .number {
  background-color: var(--background-color);
  font-size: 30px;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
}

.draggable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  cursor: pointer;
  flex: 1;
}

.draggable .destination-name {
  margin: 0;
  padding: 0px 15px;
  padding-left: 0px;
}

.draggable-list li.right .destination-name {
  color: greenyellow;
}

.draggable-list li.wrong .destination-name {
  color: red;
}

.draggable-list li.over .draggable {
  background-color: #eaeaea;
}
